.main-layout {
    display: flex;
    flex-direction: column;
    height: 100%;

    main {
        flex-grow: 1;
        padding-inline: 20px;
    }

    header {
        padding: 20px;
        box-shadow: 0 3px 6px -4px rgba(0, 0, 0, 0.12);
        margin-bottom: 20px;
        padding-inline: 20px;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 12px;
    }
}

.logo {
    font-size: 24px;
    font-weight: bold;
    margin-right: auto;
}

